body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

nav a:hover {
  background-color: #555;
}

section {
    display: flex;       
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    height: 60vh;       
    text-align: center;     
  }
  h1 {
    font-size: 2em;
    font-family: Eschaton, serif;
      color: #a46d3a;
      text-align: center;
      margin-bottom: 20px; 
      margin-top: -90px; 
     
    }
    
    
    p {
      font-family: 'Montserrat', sans-serif;
      color: #232222;
      line-height: 1.6;
      padding: 0 200px;
      margin: 20px 30px;

    }
    
  .my-image {
    max-width: 300px;          
    height: auto;              
    margin-top: -120px; 
    margin-bottom: px;
    margin-left: 500px; /* Space above the image */
    border-radius: 50%; 
    object-fit: cover;  
  }
  
  

* {
  box-sizing: border-box; 
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  padding: 10px; 
  margin-top: -120px;

}

.grid-item {
  overflow: hidden;
}

.grid-item img {
  width: 100%; 
  height: auto; 
  display: block; 
}



